<h1>投稿を編集する</h1>
<hr>
<%= form_for @post do |f| %>
    <p>内容</p>
    <%= f.text_area :content %>
    <p>場所</p>
    <%= f.text_field :place %>
    <hr>
    <%= f.submit "変更する" %>
<% end %>
<p><a href="/posts/<%= @post.id %>">投稿へ戻る</a></p>