<h1>投稿を作成する</h1>
<hr>
<%= form_for @post do |f| %>
    <p>名前</p>
    <%= f.text_field :name %>
    <p>内容</p>
    <%= f.text_area :content %>
    <p>場所</p>
    <%= f.text_field :place %>
    <hr>
    <%= f.submit "登録する" %>
<% end %>
<p><a href="/posts">投稿一覧へ戻る</a></p>